<ion-view title="Contato" id="page7">
    <ion-content padding="true" class="has-header">
        <h1 id="contato-heading3" style="color:#000000;text-align:center;">Fale Conosco</h1>
        <div class="spacer" style="width: 283px; height: 44px;"></div>
        <div id="contato-markdown8" style="color:#000000;font-size:13px;">
            <p>É possivel entrar em contato conosco através do site da etec Doutora Ruth Cardoso, clicando no botão abaixo.</p>
        </div>
        <div class="spacer" style="width: 283px; height: 38px;"></div>
        <a href="#" onclick="window.open('http://etecdrc.com.br/fale-conosco/', '_system', 'location=yes'); return false;" id="contato-button2" class="button button-positive  button-block">Clique Aqui !</a>
    </ion-content>
</ion-view>