<ion-view title="Empresa" id="page4">
    <ion-content padding="true" class="has-header">
        <div id="empresa-markdown4" style="color:#000000;font-size:14px;text-align:justify;">
            <p>O aplicativo Tabajara foi desenvolvido pelos programadores da Etec Doutora Ruth Cardoso durante o curso de plataforma híbrida.</p>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <img src="img/L9LqUqqFQVyr0a7t4zC3_g7-x0asm.png" width="70%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>