<ion-view title="Home" id="page1" style="background-color:#FDFDFD;">
    <ion-content padding="true" class="has-header">
        <div>
            <p>
            </p>
            <h3>
                <font color="black">Curso Plataforma Híbrida</font>
            </h3>
            <p></p>
        </div>
        <div id="home-markdown1" style="color:#EBE3E3;font-size:14px;"></div>
        <div id="home-markdown3" style="color:#000000;font-size:14px;text-align:justify;">
            <p>Bem vindo ao aplicativo Tabajara. Dentro das outras guias você pode se informar sobre o curso de Plataforma híbrida, nosso produto, contato.</p>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <img src="img/OnIN5QZWq1ZQa9HxWTQp_TABAJARA.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>