<ion-view title="Produto" id="page5">
    <ion-content padding="true" class="has-header">
        <h1 id="produto-heading2" style="color:#000000;">Nosso Aplicativo</h1>
        <div class="spacer" style="width: 283px; height: 67px;"></div>
        <div id="produto-markdown5" style="color:#000000;font-size:18px;text-align:justify;">
            <p>O aplicativo Tabajara é um calendário com os dias e horários do curso</p>
        </div>
        <div class="spacer" style="width: 283px; height: 85px;"></div>
        <div>
            <img src="img/bn8OfGpS7qdnCHyfJdeA_calendario-11-11-2014.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>