<ion-view title="Serviço" id="page6">
    <ion-content padding="true" class="has-header">
        <div id="serviO-markdown6" style="color:#000000;"></div>
        <h1 id="serviO-heading1" style="color:#000000;text-align:center;">O Curso</h1>
        <div class="spacer" style="width: 283px; height: 36px;"></div>
        <div id="serviO-markdown7" style="color:#000000;font-size:14px;">
            <p>Durante as aulas de plataforma híbrida são ultilizadas as plataformas Ionic, Cordova e Node.js</p>
        </div>
        <div>
            <img src="img/O5kqQM2xRBuwiZFdqzcg_cordova_p1_header-1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>